# Lighthouse Lab Mid-Term
## Capstone Project
### Dataset: Los Angeles Crime Data Since 2020 to Present

Team: Chloe Phuong and Rinkal Raj

In [66]:
import pandas as pd

In [67]:
# Read the CSV file
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

# Print the contents of the DataFrame
df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,1/8/2020 0:00,1/8/2020 0:00,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,1/2/2020 0:00,1/1/2020 0:00,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,4/14/2020 0:00,2/13/2020 0:00,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,1/1/2020 0:00,1/1/2020 0:00,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,1/1/2020 0:00,1/1/2020 0:00,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [70]:
#shape of Data Frame
df.shape

(968833, 28)

In [71]:
# Getting the Columns
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [72]:
#Checking the types of data
df.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [73]:
#Dropping irrelevant columns
df = df.drop(['AREA', 'Rpt Dist No', 'Part 1-2', 'Mocodes', 'Premis Cd','Status','Weapon Used Cd','Crm Cd 2','Crm Cd 3','Crm Cd 4','Cross Street'], axis=1)
df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,10304468,1/8/2020 0:00,1/8/2020 0:00,2230,Southwest,624,BATTERY - SIMPLE ASSAULT,36,F,B,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,624.0,1100 W 39TH PL,34.0141,-118.2978
1,190101086,1/2/2020 0:00,1/1/2020 0:00,330,Central,624,BATTERY - SIMPLE ASSAULT,25,M,H,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,624.0,700 S HILL ST,34.0459,-118.2545
2,200110444,4/14/2020 0:00,2/13/2020 0:00,1200,Central,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,X,POLICE FACILITY,NaN,Adult Arrest,845.0,200 E 6TH ST,34.0448,-118.2474
3,191501505,1/1/2020 0:00,1/1/2020 0:00,1730,N Hollywood,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,745.0,5400 CORTEEN PL,34.1685,-118.4019
4,191921269,1/1/2020 0:00,1/1/2020 0:00,415,Mission,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,BEAUTY SUPPLY STORE,NaN,Invest Cont,740.0,14400 TITUS ST,34.2198,-118.4468

In [74]:
# Change Vict Age value
df.loc[df['Vict Age'] < 0, 'Vict Age'] = 0

In [75]:
# Change Vict Sex value
# Replace 'F' with 'Female'
df['Vict Sex'] = df['Vict Sex'].replace('F', 'Female')

# Replace 'M' with 'Male'
df['Vict Sex'] = df['Vict Sex'].replace('M', 'Male')

# Replace 'X', 'H', 'N', ' ' with 'Uknown'
df['Vict Sex'] = df['Vict Sex'].replace(['X', 'H', 'N', ' '], 'Unknown')

# Replace NaN values with 'Unknown'
df['Vict Sex'].fillna('Unknown', inplace=True)

df['Vict Sex']

0          Female
1            Male
2         Unknown
3          Female
4         Unknown
           ...
968828     Female
968829       Male
968830    Unknown
968831     Female
968832       Male
Name: Vict Sex, Length: 968833, dtype: object

In [76]:
# Change Vict Descent value
descent_mapping = {
    'A': 'Other Asian',
    'B': 'Black',
    'C': 'Chinese',
    'D': 'Cambodian',
    'F': 'Filipino',
    'G': 'Guamanian',
    'H': 'Hispanic/Latin/Mexican',
    'I': 'American Indian/Alaskan Native',
    'J': 'Japanese',
    'K': 'Korean',
    'L': 'Laotian',
    'O': 'Other',
    'P': 'Pacific Islander',
    'S': 'Samoan',
    'U': 'Hawaiian',
    'V': 'Vietnamese',
    'W': 'White',
    'X': 'Unknown',
    'Z': 'Asian Indian'
}

# Apply the replacements using the map function
df['Vict Descent'] = df['Vict Descent'].map(descent_mapping).fillna('Unknown')


df['Vict Descent']

0                          Black
1         Hispanic/Latin/Mexican
2                        Unknown
3                          White
4                        Unknown
                   ...
968828    Hispanic/Latin/Mexican
968829                     White
968830                   Unknown
968831    Hispanic/Latin/Mexican
968832                     Black
Name: Vict Descent, Length: 968833, dtype: object

In [77]:
# adding the "Unknown" text on blank values for 'Weapon Desc' and 'Weapon Used Cd'
df['Weapon Desc'].fillna(value='Unknown')

0         STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
1                            UNKNOWN WEAPON/OTHER WEAPON
2                                                Unknown
3                                                Unknown
4                                                Unknown
                               ...
968828                                           Unknown
968829                                           Unknown
968830                                           Unknown
968831                                           Unknown
968832    STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
Name: Weapon Desc, Length: 968833, dtype: object